/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  
  .btn {
    @apply px-4 py-2 rounded-full text-sm font-semibold border  focus:outline-none focus:ring-2  focus:ring-offset-2 duration-200 dark:focus:ring-offset-gray-800;

    @apply p-2;
  }

  .btn-orange {
    @apply text-orange-400 border-orange-400 hover:bg-orange-400 hover:text-white  focus:ring-orange-400;
  }

  .btn-yellow {
    @apply text-yellow-300 border-yellow-300 hover:bg-yellow-300 hover:text-black  focus:ring-yellow-300;
  }
}

@layer base {
  h1 {
    @apply text-2xl;
  }
}

@layer utilities {
  .custom-font-size {
    font-size: 12px;
  }
  .custom-bg-color {
    background: #3f3f46;
  }
  @screen md {
    .custom-bg-color {
      background-color: #4b5563;
    }
  }
} */

/* using theme() function */

/* .content-area {
  height: clac(100vh - theme(spacing.12));
} */

/* .context-area {
  height: calc(100vh - theme(spacing[3.5]))
} */

/* .btn-orange {
  background-color: theme(colors.orange.300)
} */

/* .btn-orange {
  background-color: theme(colors.orange.500 / 75%);
} */

/* use of screen() function */
/* 
@media screen(sm){
  ...
}

@media screen(md){
  ...
}

@media screen(lg) {
  ...
}

@media screen(xl) {
  ...
}

@media screen(2xl) {
  ...
} */

.custom-bg {
  background-color: tomato;
}

input::placeholder {
  font-size: 12px;
}
